/*
 * bridgex - Graphical interface for converting files to Markdown
 * Copyright 2026 - 2026 Dev2Forge
 * Licence: GPL-3
 * More information: https://github.com/Dev2Forge/bridgex/blob/main/LICENSE
 * Author: tutosrive (tutosriveorg@gmail.com)
 * 
 * File: \src\assets\css\NavBar.css
 * Created: Monday, 20th April 2026 11:37:05 am
 * -----
 * Last Modified: Friday, 24th April 2026 3:11:40 pm
 * Modified By: tutosrive (tutosriveorg@gmail.com)
 * -----
 */

.menubar {
  padding: var(--menubar-y-padding) 0;
  margin-bottom: var(--menubar-margin-bottom);
  width: var(--menubar-w);
  height: var(--menubar-h);
  background-color: var(--menubar-bg);
  align-items: center;
  display: flex;
}

.item-menubar {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  font-size: 14px;
  margin: 0 var(--menubar-item-x-margin);
  padding: 0px var(--menubar-item-x-padding);
  text-decoration: none;
  color: var(--menubar-text-color);
}

.item-menubar:hover {
  background-color: var(--menubar-hover-bg);
  outline: 1px solid var(--menubar-item-hover-outline-color);
}

.item-menubar:active {
  background-color: var(--menubar-item-active-bg);
  color: var(--menubar-item-active-color);
}
