/*
 * bridgex - Graphical interface for converting files to Markdown
 * Copyright 2026 - 2026 Dev2Forge
 * Licence: GPL-3
 * More information: https://github.com/Dev2Forge/bridgex/blob/main/LICENSE
 * Author: tutosrive (tutosriveorg@gmail.com)
 * 
 * File: \src\assets\css\NavBar.css
 * Created: Monday, 20th April 2026 11:37:05 am
 * -----
 * Last Modified: Saturday, 25th April 2026 7:43:04 pm
 * Modified By: tutosrive (tutosriveorg@gmail.com)
 * -----
 */

.menubar {
  padding: var(--menubar-y-padding) 0;
  margin-bottom: var(--menubar-margin-bottom);
  width: var(--menubar-w);
  height: var(--menubar-h);
  background-color: var(--menubar-bg);
  align-items: center;
  display: flex;
  color: var(--menubar-text-color);
}

.item-menubar {
  width: fit-content;
  margin: 0;
  margin-inline-start: 2px;
  padding: 0 var(--menubar-item-x-padding);
}

.item-menubar * {
  cursor: pointer;
}

.menubar-dropdown {
  background-color: var(--menubar-bg);
  padding: calc(var(--spacing) * (2));
  margin: 0;
  margin-inline-start: calc(var(--spacing) * (1));
  color: var(--menubar-text-color);
  border-radius: 0 0 8px 8px;
  top: 30px;
  width: 250px;
}

.menubar-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0 calc(var(--spacing) * 2);
}

.menubar-dropdown-item span {
  opacity: 30%;
  text-align: right;
  font-size: 12px;
  line-height: calc(1 / 0.75);
}

.menubar-dropdown-item * {
  width: 100%;
}

.menubar-dropdown-item:hover,
.item-menubar:hover {
  background-color: var(--menubar-hover-bg);
}

.fileoptions {
  left: 0;
}

.settingsoptions {
  left: calc(var(--spacing) * 50);
}

.helpoptions {
  left: calc(var(--spacing) * 115);
}
